<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
                Name
            </span>
            <input type="text" [(ngModel)]="task.Name" maxLength="100" pInputText>
        </div>
    </div>
</div>

<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
                Description
            </span>
            <textarea pInputTextarea type="text" [(ngModel)]="task.Description" maxLength="1000"></textarea>
        </div>
    </div>
</div>

<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
                Priority
            </span>
            <input type="number" [(ngModel)]="task.Priority" min="0" max="100" pInputText>
        </div>
    </div>
</div>

<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><b>Time to complete</b></span> 

            <span class="ui-inputgroup-addon">Days</span> 
            <input type="number" [(ngModel)]="daysToComplete" pInputText>

            <span class="ui-inputgroup-addon">Hours</span> 
            <input type="number" [(ngModel)]="hoursToComplete" pInputText>

            <span class="ui-inputgroup-addon">Minutes</span> 
            <input type="number" [(ngModel)]="minutesToComplete" pInputText>

            <span class="ui-inputgroup-addon">Seconds</span> 
            <input type="number" [(ngModel)]="secondsToComplete" pInputText>
        </div>
    </div>
</div>

<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="save-task">
            <button [class.disabled]="this.warningText != null" (click)="save()" class="btn edit btn-primary">Save</button>
        </div>
        
        <ng-template [ngIf]="warningNeeded">
            <div class="alert alert-danger create-task-warning">
                    <strong>Warning!</strong> Not all field are filled or filled incorrectly <br/>
                    {{warningText}}
            </div>
        </ng-template>
    </div>
</div>