<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
                Name
            </span>
            <input type="text" pInputText>
        </div>
    </div>
</div>

<div class="ui-g ui-fluid">

    <div class="ui-g-12">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
                Description
            </span>
            <input type="text" pInputText>
        </div>
    </div>
</div>

<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
                Priority
            </span>
            <input type="text" pInputText>
        </div>
    </div>
</div>

<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
                Time to complete
            </span>
            <input type="text" pInputText placeholder="Is seconds">
        </div>
    </div>
</div>