<p-dataTable [value]="tasks" [lazy]="true" [rows]="rowsNumber" [paginator]="true" [rowsPerPageOptions]="availablePageSizes"
            [totalRecords]="totalRecords" (onLazyLoad)="loadTasksLazy($event)"
            selectionMode="single" (onRowSelect)="onTaskSelect($event)" dataKey="Id">

    <p-header>Tasks list</p-header>
    <p-column field="Name" header="Name"></p-column>
    <p-column field="Priority" header="Priority"></p-column>

    <p-column header="Added date">
        <ng-template let-task="rowData" pTemplate type="body">
            {{ task.CreatedDate | date:'medium' }}
        </ng-template>
    </p-column>

    <p-column field="TimeToComplete" header="Time to complete"></p-column>

    <p-column header="Actions">
        <ng-template let-task="rowData" pTemplate type="body">
            <button *ngIf="!task.isCompleted" style="width: 100%" (click)="completeTask(task.Id)" class="btn save btn-success">Complete</button>
            <button *ngIf="task.isCompleted" style="width: 100%" (click)="deleteTask(task.Id)" class="btn edit btn-danger">Remove</button>
        </ng-template>
    </p-column>

</p-dataTable>

<div *ngIf="selectedTask">
    <broad-task-details-component [task]="selectedTask"></broad-task-details-component>
</div>