<a *ngIf="loadSingleTask" routerLink="/tasks">Home</a> 
<br/>

<p-fieldset legend="Task details">

    <span><b>Id:</b> {{loadedTask?.Id}}</span>
    <br/>
    <span class="header-details"><b>Name:</b> {{loadedTask?.Name}}</span>
    <br/>
    <span class="header-details"><b>Description:</b> {{loadedTask?.Description}}</span>
    <br/>
    <span><b>Status:</b> {{loadedTask?.Status == 1 ? 'Active' : 'Inactive'}}</span>
    <br/>
    <span><b>Added:</b> {{ loadedTask?.CreatedDate | date:'medium' }}</span>
    
    <br/>
    <button *ngIf="!loadSingleTask" (click)="navigate()" class="btn edit btn-primary">Navigate to task</button>
</p-fieldset>

